// Global
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

*,
body {
  background-color: #222222;
  font-family: "Nanum Gothic", sans-serif;
}

.rgba-black-light {
  background-color: rgba(0, 0, 0, 0.35);
}

.rgba-black-strong {
  background-color: rgba(0, 0, 0, 0.7);
}
