// masonry
.grid {
  margin: 0.3rem auto;

  .grid-item {
    width: 260px; // 갤럭시 폴더: 280px
    height: auto;
    line-height: 200%;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #888;
    border-top: 5px solid #999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    // display: block;
    // float: left;

    h6 {
      text-align: center;
      background-color: rgba(136, 136, 136, 0.842);
      padding: 0.5rem;

      a {
        color: #fff;
      }
    }

    p {
      padding: 0.4rem;
      margin-bottom: 0;

      a {
        color: rgba(0, 0, 0, 0.806);
      }
      a:hover {
        color: gray;
      }
    }

    p:nth-child(even) {
      background-color: rgb(215, 208, 208, 0.5);
    }
  }
}
