// masonry
.grid {
  margin: 0.3rem auto;

  .grid-item {
    width: 260px; // 갤럭시 폴더: 280px
    height: auto;
    line-height: 200%;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #888;
    border-top: 5px solid #999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    // display: block;
    // float: left;
  }
}
